<div class="bg">
    <h1 class="center-justified fonteCor titulo" >Sobre nós</h1>

    <div class="fonte fonteCor margens texto margens1">
        
           <p> A UniEstoque é especializada na gestão de estoque e contole de perdas e qualidade nas entregas, com soluções sob medida, para maximizar os resultados com melhoria de processos de acordo com as características da empresa e do segmento de atuação, sempre comprometidos com os resultados que nossos clientes demandam. Dedicamos um atendimento personalizado e ágil para superar as expectativas.</p>
 
           <p> Disponibilizamos um software amplamente estrututado para atingir a eficiência gestão de estoque e controle logístico, garantindo assim maior rentabilidade nas aplicações.</p>
             
           <p> Atuamos em diversos setores, como: Lojas de departamentos, grandes e pequenas destribuidoras, supermercadista, Educação, Saúde, entre outros, em todo o território nacional.</p>
             
           <p> Os procedimentos de trabalho da UniEstoque obedecem a criteriosos processos de qualidade, garantindo total conformidade nas entregas e satisfação dos cliente.</p>
            
            
           <p > Contamos com uma equipe de profissionais altamente capacitados e especializados, para que sua empresa disponha sempre de nossos serviços.</p>
        
    </div>




</div>
